<!doctype html>

<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
{% include "_feeds.html" %}
<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
{% include "_google-fonts.html" %}
{% include "_styles.html" %}
{% block css %}{% endblock css %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta
name="description"
content="{% block meta_description %}{{ SITENAME }}{% endblock meta_description %}">
{% include "_extra-head.html" %}
</head>

<body itemscope itemtype="http://schema.org/WebPage">
<div class="pure-g-r" id="layout">
  {% include "_sidebar.html" %}
  {% block content %}{% endblock content %}
</div>
{% include "_jquery.html" %}
{% include "_scripts.html" %}
{% block js %}{% endblock js %}
{% include "_analytics.html" %}
</body>

</html>
