{% extends "base.html" %}

{% block content %}
<div class="pure-u">
  <div class="content">
    <!-- A wrapper for all the blog posts -->
    <div class="posts" itemscope itemtype="http://schema.org/Blog">
      <h1 class="content-subhead">
        {% block pagetitle %}
        {% if not articles_page.has_previous() %}
        Latest
        {% else %}
        Posts
        {% endif %}
        {% endblock pagetitle %}
        {% if articles_page.has_previous() %}
        &ndash; Page&nbsp;{{ articles_page.number }}
        {% endif %}
      </h1>
      {% for article in articles_page.object_list %}
      {# Include's latex math only if an article in the index has it present #}
      {% if article and article.latex and latex is not defined %}
      {% set latex = True %}
      {{ article.latex }}
      {% endif %}
      <div class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h2 class="post-title" itemprop="name">
          <a href="{{ SITEURL }}/{{ article.url }}" itemprop="url">
            {{ article.title }}
          </a>
        </h2>
        <div class="summary" itemprop="description">
          {{ article.summary }}
        </div>
        <p class="post-meta">
        in
        <a href="{{ SITEURL }}/{{ article.category.url }}">
          {{ article.category }}
        </a>
        &middot;
        <span itemprop="datePublished">
          <time datetime="{{ article.date|strftime('%Y-%m-%d') }}">
            {{ article.date|strftime('%-d %b %Y') }}
          </time>
        </span>
        </p>
      </div>
      {% endfor %}
      {% include 'pagination.html' %}
      {% include 'footer.html' %}
    </div>
  </div>
</div>
{% endblock content %}
